#container {
  margin-top: 10%;
  background-color: #0c91c4;
  margin-bottom: 10%;
  color: white;
  padding: 5%;
}

/* html {
  background-color: white;
} */

button {
  margin-left: 40%;
}

#forgotpassword {
  font-size: 20px;
  margin-left: 33%;
}
