#container {
  background-color: #0c91c4;
  margin-bottom: 10%;
  color: white;
  padding: 5%;
  border-style: ridge;
}

button {
  margin-left: 40%;
}

#forgotpassword {
  font-size: 20px;
  margin-left: 33%;
}

h1 {
  color: white;
}
