#teacherlogincontainer {
  border-radius: 5px;
  background-color: white;
  border-width: 2px;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  margin-bottom: 5%;
}

#teacherlogin {
  font-family: "Seymour One", sans-serif;
}
