.blueBox {
  font-weight: 500;
  padding: 3% !important;
  background: white;
}

.my-stars {
  font-weight: 500;
  font-size: 30px;
}

.redColor {
  color: #e53935;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
}

.centered {
  text-align: center;
}

.uploadButton {
  background-color: #e53935;
  color: white;
}

.descriptionText {
  font-size: 1.64rem;
  line-height: 2;
}

.email-modal {
  color: white;
}

.rewards-length {
  font-size: 40px;
}

.reward-star {
  font-size: 50px;
}
