.blueBox {
  background-color: #0c91c4;
  color: white;
  font-weight: 500;
}

.redColor {
  color: #d43d0e;
  font-weight: 575;
  /* color: #D43D0E; */
}

.centered {
  text-align: center;
}

.uploadButton {
  background-color: #d43d0e;
  color: white;
}

.descriptionText {
  font-size: 10px;
}

.email-modal {
  color: white;
}
