.container {
  padding: 0px;
}

.btn-floating {
  margin: 1%;
}

.reward-list-item {
  display: inline;
  vertical-align: middle;
}

.fa-star {
  color: #ffde59;
}

.add-category-btn {
  display: block;
}

#rewardCategory,
#starCount {
  color: white;
  border-bottom: 3px solid #fff;
  text-transform: uppercase;
}
