/* .container {
  padding: 0px;
} */

h1 {
  font-family: "Seymour One", sans-serif;
}

.btn-floating {
  margin: 1%;
}

.reward-list-item {
  vertical-align: middle;
  font-size: 20px;
  display: inline;
}

.fa-star {
  color: #ffde59;
}

.add-category-btn {
  display: block;
}

#rewardCategory,
#starCount,
#classcode {
  color: black;
  border-bottom: 3px solid black;
  text-transform: uppercase;
}

#reward-count {
  font-weight: 600;
}
