.addstudent-cat {
  background: #f4592f;
}

.studentlist-cat {
  background: #5ce1e6;
}

.reward-cat {
  background: #dc3c4d;
}

.img-icon {
  margin: auto;
}

.card-image {
  height: 300px;
}

.student-name {
  text-align: center;
}

.card-content {
  height: 100px;
}
