html {
  background-color: #0c91c4;
}

.school {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  height: 60%;
  width: 50%;
}

#homeStars {
  margin-top: 15%;
  margin-left: 35%;
}

#homeWelcome {
  font-family: "Dancing Script", cursive;
  color: white;
  font-size: 75px;
  margin-left: 15%;
}

#homeName {
  font-family: "Seymour One", sans-serif;
  color: orange;
  font-size: 55px;
  margin-left: 15%;
  margin-top: -7%;
}

#rowTagline {
  font-family: "Dancing Script", cursive;
  color: white;
  font-size: 25px;
  margin-left: 15%;
  margin-top: -5%;
  font-family: "Open Sans Condensed", sans-serif;
}

#signUpButton {
  margin-left: 10%;
}

#signUpButtonTwo {
  margin-left: 10%;
}
