html {
  background-color: #0c91c4;
}

.school {
  left: 0;
  bottom: 0;
  height: auto;
  width: 50%;
}

#homeStars {
  margin: auto;
  text-align: center;
}

#homeWelcome {
  font-family: "Dancing Script", cursive;
  color: white;
  font-size: 75px;
}

#homeName {
  font-family: "Seymour One", sans-serif;
  color: #e53935;
  font-size: 55px;
}

#rowTagline {
  font-family: "Dancing Script", cursive;
  color: white;
  font-size: 30px;
  font-family: "Open Sans Condensed", sans-serif;
}

#homeRight {
  margin-top: 15%;
}

@media screen and (max-width: 992px) {
  .school,
  .school-container {
    display: none;
  } /* hide it elsewhere */
}

@media screen and (max-width: 992px) {
  .home-row {
    margin: auto !important;
    text-align: center !important;
  } /* hide it elsewhere */
}

@media screen and (max-width: 890px) {
  #homeRight {
    margin: auto;
    text-align: center;
    margin-top: 15%;
  } /* hide it elsewhere */
}
