html {
  background-color: #0c91c4;
}

#school {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 60%;
  width: 50%;
}

#homeRight {
  margin-top: 5%;
}

#homeStars {
  margin-left: 20%;
}

#homeName {
  color: white;
  font-size: 75px;
  margin-left: auto;
  margin-right: auto;
}

#rowTagline {
  color: white;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

#signUpButton {
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}
