.nav-wrapper {
  background-color: #ff914d;
}

.left {
    font-size: 32px;
    font-weight: 650;
}

.class-code {
  font-size: 20px;
  font-weight: 350;
}
.nav-link {
  font-size: 25px;
  font-weight: 500;
}
